<launch>
    <!-- Launch the camera -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <rosparam file="../config/camera.yaml" command="load" />
    </node>
    
    <!-- velocity mulitplexer -->
    <arg name="nodelet_manager_name"  value="nodelet_manager"/>

    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>
    

</launch>